*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
}

.main{
    background-color: rgb(162,234,243);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer_box{
    background-color:#02acc3 ;
    height: 400px;
    width: 500px;
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.247);
    color: #ffffff;
    font-weight: 100;
    text-align: center;
}
.inner_box
{
    background-color: #ffffff;
    height: 200px;
    width: 600px;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.247);
    position: fixed;
    top: 42%;
}

button
{
    border: none;
    height: 45px;
    width: 60px;
    font-weight: 300;
    font-size: 15px;
    background-color: #37acebed;
    border-radius: .2rem;
    color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.247);
    cursor: pointer;
}
.t_button{
    display: flex;
    gap: 10px;
}
.time{
    font-size: 50px;
}
h2{
    padding-top: 60px;
    font-weight: 250;
    font-size: 33px;
}
.lap_text{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
}
.stop
{
    background-color: #ff1313;
}
.lap{
    background-color: #ff1313;
}
.reset{
    background-color: #ff1313;
}

button:hover{
    width: 70px;
    transition: 0.1s ease-in-out;
}